includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - modules/

    # Level 10 is the highest level
    level: 8

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#PHPDoc tag @var#'
        -
            identifier: method.nonObject
            path: ./app/database/factories/*
        -
            identifier: method.nonObject
            path: ./app/Models/*

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - ./bootstrap/cache/*
        - ./storage/*
